* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #F8F8FF;
}

.topo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    background-color: black;
    border-radius: 30px;
}

.logo {
    
    display: flex;
    align-items: center;
    width: 60%;
    height: auto;
    
}

.logo img {
    padding: 15px;
    width: 10%;
    height: auto;
}

.logo h1 {
    margin-left: 20px;
    color: white;
}

.subsites {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    
}

.subsites ul {
    display: flex;
    list-style: none;
    padding: 10px;
}

.subsites ul li {
    margin-right: 15px;
}

.subsites ul li a {
    text-decoration-line: none;
    text-emphasis-color: red;
    color: white;
}

.subsites ul li a:hover {
    color: red;
}

.noticias {
    
    padding: 10px;
    width: auto;
    height: 10%;
    display: flex;
}

.noticias ul li {
    border: 2px solid grey;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 10px;
    width: 1320px;
}

.noticias ul li img {
    width: 150px;
    height: auto;
    
}

.container {
    display: flex;
    align-items: center; 
    justify-content: flex-start;
}

.container a {
    padding: 10px;
    text-decoration: none;
    color: green;
    font-weight: bold;
    font-size: 24px;
}

.container img {
    width: 10%;
    height: auto;

    margin-left: 10px;
}

/*simulador*/
.partidas {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.partidas ul li {
    display: flex;
    flex-direction: row;
    
}

.timeCasa {
    display: flex;
}

.timeFora {
    display: flex;
}

#golsCasa {
    width: 30px;
}

#golsFora {
    width: 30px;
}

.partidas h3 {
    padding: 5px;
}